<div class="ellipsis_inline" data-placement="bottom" data-container="body">

    {{#if loading}}

        <div class="loading">
            <i class="l1">.</i><i class="l2">.</i><i class="l3">.</i>
        </div>

    {{else}}

        <a href="{{relate_href}}" target="_blank">{{relate_value}}</a>

    {{/if}}

</div>
