<div class="form-inline custom-line-main" style="display: inline-flex;">

</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.custom-line').parent().css("display","inline-grid");
});
 </script>
