<div style="padding: 7px;">
	<div id="sf_drawer_btn_wrap" class="pull-right">
		<button id="closeButton" class="btn btn-primary">Close</button>
	</div>
	<br><br>
	<p>
		<iframe src="{{this.finalUrl}}" class="epi_salesfusion-iframe"></iframe>
	</p>
</div>